*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-image: url("./image/bg-img.jpg");
}
div{
    width: 400px;
    margin: 0 auto;
    border: 1px solid;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    backdrop-filter:blur(15px);
}
div h1{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    color: #fff;

}
div input{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px; 
    margin-bottom: 20px;
    outline: none;
    border: 2px solid #ddd;
}
div button {
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background-color: #f1f1f1;
}
button:hover{
    background-color: #090808;
    color: white;
}
ul{
    
}