*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-image: url("./image/bg-img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
div{
    width: 400px;
    margin: 0 auto;
    border: 1px solid;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    backdrop-filter:blur(15px);
}
div h1{
    display: flex;
    justify-content: center;
    font-size: 24px;    
    margin-bottom: 20px;
    color: #fff;
}
div input{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px; 
    margin-bottom: 20px;
    outline: none;
    color: black;
    border: 2px solid #ddd;
    transition: border 0.3s;
}
#button1{
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    display: block;
    transition: 0.5s;
    margin-bottom: 20px;
}
#button1:hover{
    background-image: linear-gradient(rgb(78, 56, 156), rgb(102, 140, 214));
    color: white;
}
ul{
    list-style: none;
    padding: 0;
    max-height: 200px;
    margin-bottom: 10px;
    text-align: left;
}
li {
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    color: #ddd;
}
.remove-btn{
    background-color: red;
    color: #ddd;
    padding: 5px;
    width: auto;
    border-radius: 5px;
    cursor: pointer;
}